{% extends 'blog/base.html' %}
{% block text %}
<title>24 Football</title>
<h2>About site</h2>
<div class="content-section">
      <p>24 Football is a football portal, created and designed by me. It contains a lot of
      features: creating and reading news about football, exploring players' statistics
      and playing fantasy football. To use all of the site features you have to register
      an account. It will allow you to create your own fantasy team and compete with other users.
      Rules of the fantasy football are explained in the next section. </p>

      Right now 24 Football doesn't have a team of editors and moderators, but there are lots of
      unique advantages of this portal. Here are some of them:
      <ul>
          <li>Immediate updating of the whole players' stats and data.</li>
          <li>8 leagues are included in the fantasy football, such as Premier League, La Liga etc.</li>
          <li>The portal is free from advertisement.</li>
      </ul>
  </div>
<h2>Fantasy football rules</h2>
<div class="content-section">
    <p>The most interesting and unique part of 24 Football is 24 Fantasy, which is fantasy football game.
        To participate in the competition, at first, follow this sequence:</p>
        <ol>
            <li>Click on the "MyTeam" link on the navigation bar and create your team, by entering its name and
            description (optional).</li>
            <li>Start signing players for your team. You will receive a start budget of 500 mil. euros for 11 players.
            The signing fee is identical to the Transfermarkt player value.</li>
            <li>If you finished setuping your team, you can enter to the Fantasy Football. However, the following
            requirements should be observed:<ul>
                    <li>The size of the squad must be 11 players</li>
                    <li>The average age must be less then 30 years old</li>
                    <li>You must have player on every position according to 4-1-2-3 tactics: 1 GK, 2 CB, 1LB, 1RB,
                    1 DM, 1CM, 1AM, 1LW(LM), 1RW(RM), 1ST(SS).</li>
                </ul></li>
        </ol>
    <p>If you completed all the steps, your team would be a part of the Fantasy Football. Your team points depends on
        how well players and their teams perform in real life. You can just spectate and believe in your signing talent.
    </p>
    <p><b>Enjoy the game!</b></p>
</div>

</div>
{% endblock text %}